{{#each this}}
<div class="card">
  <h2 class="title">{{name}}</h2>
  <div class="description-container">
    <div class="card-body">
      <p class="card-text"><b>Capital:</b> {{capital}}</p>
      <p class="card-text"><b>Population:</b> {{population}}</p>
      <section>
        <p class="card-text"><b>Languages:</b></p>
        {{#each languages}}
        <li class="list-group-item">{{this.name}}</li>
        {{/each}}
        </ul>
      </section>
    </div>
    <div class="img-container">
      <img src="{{flag}}" alt="{{name}}" width="480px" height="320px">
    </div>
  </div>
</div>
{{/each}}